@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: aliceblue;
}

textarea::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  width: 8px;
}

::-webkit-scrollbar-track {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  background-color: #dbdfe4;
}

::-webkit-scrollbar-thumb {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  background-color: #979ca0;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  background-color: #787c80;
}
